In [4]:
#jaccardian distance
sent_a = "the cat ran up the hill after dog"
sent_b = "the dog was chased by the cat"

#jd = len(intersection) / len(union)
#build a function that takes two inputs, strings/corpus, and outputs teh jaccardian distance

set_sent_a = set(sent_a.split())
set_sent_b = set(sent_b.split())
jd = len(set_sent_a.intersection(set_sent_b)) / len(set_sent_a.union(set_sent_b))
print (jd)

0.3

In [5]:
def jac_dist(str_a, str_b):
    set_sent_a = set(str_a.split())
    set_sent_b = set(str_b.split())
    jd = len(set_sent_a.intersection(set_sent_b)) / len(set_sent_a.union(set_sent_b))
    return jd

In [6]:
jac_dist(sent_a, sent_b)

0.3

In [23]:
sent_a_cor = "The^!! cat1234 ran Up the hill[] :-) after dog"
sent_b_cor = "the dog $$#was (chased(] by the cat"

In [34]:
import re
sent_a_clean = re.sub("[^A-Za-z]+", " ", sent_a_cor.lower())

In [35]:
 sent_a_clean

'the cat ran up the hill after dog'

In [36]:
def clean_text(str_in):
    import re
    sent_a_clean = re.sub("[^A-Za-z]+", " ", str_in.lower()) 
    return sent_a_clean

In [38]:
clean_text(sent_b_cor)

'the dog was chased by the cat'

In [51]:
import pandas as pd
the_path = "C:/Users/pathouli/myStuff/academia/columbia/socialSciences/GR5067/2022_fall/code/data/"
the_data = pd.read_csv(the_path + "ex.txt", sep=",", header=0)

In [52]:
the_data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [53]:
the_data.columns

Index(['a', 'b', 'c'], dtype='object')

In [55]:
the_data.columns = ["a_in", "b_in", "c_in"]

In [56]:
the_data

   a_in  b_in  c_in
0     1     2     3
1     4     5     6
2     7     8     9

In [59]:
the_data.to_csv(the_path + "ex_two.txt", sep="\t", index=False)

In [62]:
the_data_fun = pd.read_csv(the_path + "ex_two.txt", sep="\t", header=0)

In [63]:
the_data_fun

   a_in  b_in  c_in
0     1     2     3
1     4     5     6
2     7     8     9

In [84]:
f = open(the_path+"ex.txt", "r")

In [85]:
type(f)

_io.TextIOWrapper

In [86]:
f.read()

'a,b,c\n1,2,3\n4,5,6\n7,8,9'

In [72]:
f.close()

In [73]:
f = open(the_path+"ex.txt", "r")

In [78]:
f.readline() #read line by line

''

In [79]:
f.close()

In [88]:
f = open(the_path+"ex.txt", "r")
txt = f.readlines()
f.close()

In [89]:
txt

['a,b,c\n', '1,2,3\n', '4,5,6\n', '7,8,9']

In [98]:
f = open(the_path+"ex.txt", "r")
text = f.read().strip()
f.close()

In [99]:
text

'a,b,c\n1,2,3\n4,5,6\n7,8,9'

In [101]:
test ="abc "
test.strip()

'abc'

In [121]:
f = open(the_path+"text_ex.txt", "r")
text = f.read()
f.close()

In [122]:
text

'The^!! cat1234 ran Up the hill[] :-) after dog\nthe dog $$#was (chased(] by the cat'

In [ ]:
def clean_text(str_in):
    import re
    sent_a_clean = re.sub("[^A-Za-z]+", " ", str_in.lower()) 
    return sent_a_clean

In [123]:
#create a function that takes in a path and file name, opens the text, apply the clean_txt
#and output the clean text
def open_file(file_in):
    f = open(file_in, "r")
    text = f.read()
    text = clean_text(text)
    f.close()
    return text

In [124]:
open_file(the_path+"text_ex.txt")

'the cat ran up the hill after dog the dog was chased by the cat'