## List

In [1]:
# list
my_list = []
# my_list = list()
my_list

[]

In [2]:
my_list.append(1)
my_list

[1]

In [3]:
my_list.append(5)
my_list

[1, 5]

In [4]:
my_list.append(634)
my_list

[1, 5, 634]

In [5]:
# reverse order
my_list[::-1]

[634, 5, 1]

In [6]:
my_copy_list = my_list
my_copy_list

[1, 5, 634]

In [7]:
# use .copy() for true copy
proper_copy = my_list.copy()
proper_copy

[1, 5, 634]

In [9]:
my_list.append(111)
my_list

[1, 5, 634, 111, 111]

In [10]:
proper_copy

[1, 5, 634]

In [11]:
my_list.count(1)

1

## Set

In [14]:
# my_set = {}
my_set = set()

In [15]:
my_set

set()

In [16]:
my_set.add('new york')
my_set.add('new jersey')
my_set.add('alaska')
my_set.add('new york')

In [17]:
my_set
# sets are unique

{'alaska', 'new jersey', 'new york'}

In [18]:
my_set.add('New York')
my_set
# Python is case sensitive

{'New York', 'alaska', 'new jersey', 'new york'}

In [ ]:
# union, intersection, symmytric_difference

## Dictionary

In [19]:
# key, value pair
my_dict = dict()
my_dict

{}

In [20]:
my_dict['key_a'] = 'columbia'
my_dict['key_b'] = 'princeton'
my_dict

{'key_a': 'columbia', 'key_b': 'princeton'}

In [22]:
my_dict_a = {"key_a": [1, 5, 6], "key_b": {"a": 1, "b": 2}}

In [24]:
my_dict_a["key_b"]

{'a': 1, 'b': 2}

In [25]:
type(my_dict_a["key_a"])

list

In [26]:
keys = list(my_dict_a.keys())
keys

['key_a', 'key_b']

In [29]:
values = list(my_dict_a.values())
values

[[1, 5, 6], {'a': 1, 'b': 2}]

## Looping Statements

In [30]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
cnt = 0
while cnt < 10:
    print(cnt)
    cnt += 1

0
1
2
3
4
5
6
7
8
9

In [34]:
sentence_fun = "the cat ran up the hill after dog who beat up my friends cat"

## Tokenization

In [49]:
token = sentence_fun.split() # defaults to a space
token

['the',
 'cat',
 'ran',
 'up',
 'the',
 'hill',
 'after',
 'dog',
 'who',
 'beat',
 'up',
 'my',
 'friends',
 'cat']

In [36]:
sentence_fun_a = "the,cat,ran,up,the,hill,after,dog,who,beat,up,my,friends,cat"

In [39]:
token_a = sentence_fun_a.split(",") # use a ,
token_a

['the',
 'cat',
 'ran',
 'up',
 'the',
 'hill',
 'after',
 'dog',
 'who',
 'beat',
 'up',
 'my',
 'friends',
 'cat']

In [ ]:
# create a dictionary where the keys are UNIQUE tokens
# and the values are the COUNT of the number of times that token showed up in the list

In [51]:
word_freq = dict()
my_set = set(token) # use set for unique token
my_set

for word in my_set:
    word_freq[word] = token.count(word)

In [52]:
word_freq

{'the': 2,
 'hill': 1,
 'friends': 1,
 'who': 1,
 'cat': 2,
 'beat': 1,
 'my': 1,
 'up': 2,
 'ran': 1,
 'dog': 1,
 'after': 1}

In [53]:
# create a function whose input is a corpus and the funtion needs to
# output a word frequency dictionary

In [60]:
def word_freq_func(x):
    dict_fun = dict()
    token = x.split()
    for w in set(token):
        dict_fun[w] = token.count(w)
    return dict_fun

In [63]:
test = "the cat cat dog dog"

In [64]:
word_freq_func(test)

{'dog': 2, 'cat': 2, 'the': 1}

In [62]:
import collections

In [65]:
test_fun = collections.Counter(test.split())

In [66]:
test_fun

Counter({'the': 1, 'cat': 2, 'dog': 2})

## List Coprehension

In [68]:
sentence = "a b c d d e e e g g h"

In [73]:
word_freq_lc = [word + ' fun' for word in sentence.split()]
word_freq_lc

['a fun',
 'b fun',
 'c fun',
 'd fun',
 'd fun',
 'e fun',
 'e fun',
 'e fun',
 'g fun',
 'g fun',
 'h fun']

In [74]:
# same, easy to debug
word_freq_lc_a = list()
for word in sentence.split():
    word_freq_lc_a.append(word + " fun")

word_freq_lc_a

['a fun',
 'b fun',
 'c fun',
 'd fun',
 'd fun',
 'e fun',
 'e fun',
 'e fun',
 'g fun',
 'g fun',
 'h fun']

In [76]:
dict_fun = {word:sentence.count(word) for word in set(sentence.split())}
dict_fun

{'e': 3, 'd': 2, 'g': 2, 'a': 1, 'h': 1, 'c': 1, 'b': 1}

In [78]:
import pandas as pd

In [95]:
my_pd = pd.DataFrame()

In [80]:
type(my_pd)

pandas.core.frame.DataFrame

In [96]:
for word in dict_fun.keys():
    my_pd = my_pd.append({"token": word, "freq": dict_fun[word]}, ignore_index=True)
    
my_pd

  token  freq
0     e   3.0
1     d   2.0
2     g   2.0
3     a   1.0
4     h   1.0
5     c   1.0
6     b   1.0

In [87]:
my_pd.head(1)

  token  count
0     e    3.0

In [91]:
my_pd.describe()

           count
count  21.000000
mean    1.571429
std     0.746420
min     1.000000
25%     1.000000
50%     1.000000
75%     2.000000
max     3.000000

In [97]:
my_pd["freq"]

0    3.0
1    2.0
2    2.0
3    1.0
4    1.0
5    1.0
6    1.0
Name: freq, dtype: float64

In [98]:
my_pd.freq

0    3.0
1    2.0
2    2.0
3    1.0
4    1.0
5    1.0
6    1.0
Name: freq, dtype: float64

In [103]:
my_pd.columns

Index(['freq_fun', 'word'], dtype='object')